<div class="ui {% if (detail|default(false)) %}fluid {% endif %}card">
    <div class="content">
        <h2 class="ui green dividing header"><a
                    href="{{ path('_show', { 'slug': entity.slug }) }}">{{ entity.summary }}</a>
        </h2>

        <div class="meta">
            <div class="ui green compact small label">
                <i class="calendar icon"></i> {{ entity.getFormatedDate() }}
            </div>

            {% if entity.location is not null %}
                <a class="ui green compact small label"
                   href="{{ path('location_show', {'slug' : entity.location.slug }) }}">
                    <i class="map marker icon"></i> {{ entity.location.name }}
                </a>
            {% endif %}

            {% if (detail|default(false)) %}
                {% if entity.tags|length > 0 %}
                    {% for tag in entity.tags %}
                        <a class="ui green compact small label" href="{{ path('tag_show', {'slug' : tag.slug }) }}">
                            <i class="tag icon"></i> {{ tag.name }}
                        </a>
                    {% endfor %}
                {% endif %}
            {% endif %}

            {% if entity.url|length > 0 %}
                <a class="ui green compact small label" href="{{ entity.url }}">
                    <i class="globe icon"></i> {{ entity.url|truncate(30) }}
                </a>
            {% endif %}
        </div>

        <div class="">
            {% if truncate_summary|default(false) %}
                <p>{{ entity.description|truncate(255)|markdown }}</p>
            {% else %}
                <p>{{ entity.description|markdown }}</p>
            {% endif %}
        </div>
        {% if (detail|default(false)) %}
            <a class="ui green tiny compact labeled icon button"
               href="{{ path('_edit', {'slug' : entity.slug }) }}">
                <i class="edit icon"></i>
                Bearbeiten
            </a>
            <a class="ui green tiny compact labeled icon button"
               href="{{ path('_delete', {'slug' : entity.slug }) }}">
                <i class="delete icon"></i>
                Löschen
            </a>
            <a class="ui green tiny compact labeled icon button"
               href="{{ path('_copy', {'slug' : entity.slug }) }}">
                <i class="copy icon"></i>
                Kopieren
            </a>
        {% endif %}
    </div>
</div>