{% extends 'CalciferBundle::layout.html.twig' %}

{% block css %}
    {% stylesheets filter="compass"
        "@CalciferBundle/Resources/assets/css/events.scss"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    "@CalciferBundle/Resources/assets/js/events.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body -%}
    <div class="ui one column page grid title">
        <div class="ui column">
            <h1>
                Termine
                {% if tag|default(false) %} für Tag „{{ tag.name }}“{% endif %}
                {% if location|default(false) %} für Ort „{{ location.name }}{% endif %}
            </h1>
        </div>
    </div>

    <div class="ui three column page grid">
        {% for entity in entities %}
            {{ include('CalciferBundle:Event:event_box.html.twig',{'truncate_summary':true}) }}
        {% endfor %}
    </div>

{% endblock %}
