{% extends 'CalciferBundle::layout.html.twig' %}

{% block css %}
    {% stylesheets filter="compass"
        "@CalciferBundle/Resources/assets/css/events.scss"
    "@CalciferBundle/Resources/assets/css/leaflet.scss"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    "@CalciferBundle/Resources/assets/js/events.js"
    "@CalciferBundle/Resources/assets/js/leaflet.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body -%}
    <div class="ui one column page grid title">
        <div class="ui column">
            <h1>
                Termine
                {% if tag|default(false) %} für Tag „{{ tag.name }}“{% endif %}
                {% if location|default(false) %} für Ort „{{ location.name }}“ <a class="location-edit" href="{{ path("location_edit",{slug:location.slug}) }}"><i class="ui icon edit inverted green circular link"></i> </a> {% endif %}
            </h1>
            {% if location|default(false) %}
                {% if (location.description|length > 0) or location.hasAddress() %}
                    <div id="location-description" class="ui message green">
                        {% if (location.description|length > 0) %}
                            <p>{{ location.description|markdown }}</p>
                        {% endif %}
                        {% if (location.hasAddress()) %}
                            <div class="ui section divider"></div>
                            <p>
                                Anschrift:<br/>
                                {{ location.streetaddress }}{% if(location.streetnumber|length > 0) %} {{ location.streetnumber }}{% endif %}<br/>
                                {% if(location.zipcode|length > 0) %}{{ location.zipcode }} {% endif %}{{ location.city }}
                            </p>
                        {% endif %}
                        {% if ((location.lon > 0) and (location.lat > 0)) %}
                            <p><a href="" class="show_map">Auf einer OpenStreetMap-Karte anzeigen</a></p>
                            <div class="ui modal geo viewer">
                                <i class="close icon"></i>
                                <div class="header">
                                    {{ location.name }}<br/>
                                    {{ location.streetaddress }}{% if(location.streetnumber|length > 0) %} {{ location.streetnumber }}{% endif %}<br/>
                                    {% if(location.zipcode|length > 0) %}{{ location.zipcode }} {% endif %}{{ location.city }}
                                </div>
                                <div class="content">
                                    <div id="view-map" data-lat="{{ location.lat }}" data-lon="{{ location.lon }}"></div>
                                </div>
                                <div class="actions">
                                    <div class="ui button ok">
                                        Schließen
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="ui three column page grid stackable">
        {% for entity in entities %}
            {{ include('CalciferBundle:Event:event_box.html.twig',{'truncate_summary':true}) }}
        {% endfor %}
    </div>

{% endblock %}
